@font-face {
font-family: "RocaTwo-Bold";
src: url("/Users/galletabarnett/Desktop/SCL019-social-network/src/view/RocaTwo-Bold.ttf") format(opentype);
}

/* CONTAINERS */

body{
    background-color: #f0dbe0;
}

#header {
    display: flex;
    flex-direction: column;
}

.headerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerbienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 15px;
    gap: 30px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 15px;
    gap: 30px; 
}

.divregister{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
}

.divlogin{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.sectionPostArea{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
}
 
headerwall{
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* ELEMENTOS  */

.logo{
    width: 70%;
}

.buttonregister{
    font-family: 'RocaTwo-Bold';
    padding: 10px;
    width: 60%;
    height: 15%;
    border-radius: 30px;
    background-color: #f95327;
    color:white;
    border: none;

}
.email {
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    height: 15%;
}

.password {
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    height: 15%;
}

.userName {
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    height: 15%;
}

.emaillogin {
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    height: 15%;
}

.passwordlogin {
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    height: 15%;
}

body{

 background-image: url(https://64.media.tumblr.com/e4039ebf1c9ee5f8380645ce3e3a6c7c/93408afe6e9d0c2e-5a/s540x810/dd92bed40b6ca0afaa374f1f74804ce47e288681.png);
 background-size: 70%;
 background-repeat: no-repeat;
 background-position: 50% 250%;

}

.welcoming {
 color: #7d4459;
 text-align: center;
 font-size: 20px;
 font-family: 'RocaTwo-Bold';
}

.entrybutton {
 font-family: 'RocaTwo-Bold';
 background-color: white;
 color: #f95327;
 padding: 10px;
 width: 60%;
 height: 15%;
 border-radius: 30px;
 border-color: white;
 border: none;
 margin-top: 30px;
 box-shadow: inset 0 0 0 0 #e25623;
 transition: .3s ease all;
}

.entrybutton:hover{ 
box-shadow: inset 250px 0 0 0 #e25623;
cursor: pointer;
color: #FEFEE3;
}

.logintext {
font-family: 'RocaTwo-Bold';
font-size: 20px;
float: right;
color: #f95327;
}

.logbuttonin {
font-family: 'RocaTwo-Bold';
background-color: white;
color: #f95327;
padding: 10px;
width: 10%;
height: 15%;
border-radius: 40px;
border-color: white;
border: none;
margin-top: 30px;
box-shadow: inset 0 0 0 0 #e25623;
transition: .3s ease all;
}

.logbuttonin:hover{ 
box-shadow: inset 400px 0 0 0 #e25623;
cursor: pointer;
color: #FEFEE3;
}

.buttonlogin {
font-family: 'RocaTwo-Bold';
justify-content: center;
background-color: white;
color: #f95327;
padding: 10px;
width: 10%;
height: 15%;
border-radius: 30px;
border-color: white;
border: none;
margin-top: 30px;
box-shadow: inset 0 0 0 0 #e25623;
transition: .3s ease all;
}

.buttonlogin:hover{ 
box-shadow: inset 250px 0 0 0 #e25623;
cursor: pointer;
color: #FEFEE3;
}


.buttongoogle {
font-family: 'RocaTwo-Bold';
background-color: white;
color: #f95327;
padding: 10px;
width: 20%;
height: 15%;
border-radius: 30px;
border: white;
}

.buttongoogle:hover{ 
box-shadow: inset 400px 0 0 0 #e25623;
cursor: pointer;
color: #FEFEE3;
}


/* MURO */

#botonLogOut {
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: #7d4459;
    align-items: top right;
    float:right;
    }
    
    .postinput {
    background-color: #FEFEE3;
    width: 60%;
    height: 80%;
    padding: 30px;
    border: solid #FEFEE3; 
    }

    .post {
        flex-direction: column;
        display: flex;
        align-items: left;
    }
    
    .botonposteo {
    align-items: center;    
    font-family: 'RocaTwo-Bold';
    background-color: white;
    color: #f95327;
    padding: 10px;
    width: 25%;
    height: 15%;
    border-radius: 30px;
    border: white;
    }

    .botonposteo:hover{ 
        box-shadow: inset 400px 0 0 0 #e25623;
        cursor: pointer;
        color: #FEFEE3;
        }

     .postContainer {
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-top: 30px;
      } 
      
      .divPost {
        padding: 15px;
        height: 20%;
        width: 70%;
        background-color: #FEFEE3;
        margin-bottom: 10px;
      }

      .divNombre {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding-bottom: 10px;
      }

      .pPost {  
        font-family: 'RocaTwo-Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 19px;
        color: #7d4459;
      }
      
      .pUser {
        font-family: 'RocaTwo-Bold' ;
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #f95327;
      }

      .botonDelete {
        background-color: none;
        border: none;
      }

      .imgDelete {
        size: 10px;
      }


    

/* MEDIA QUERIES */

@media only screen and (max-width: 480px){

body{
background-image: url(https://64.media.tumblr.com/e4039ebf1c9ee5f8380645ce3e3a6c7c/93408afe6e9d0c2e-5a/s540x810/dd92bed40b6ca0afaa374f1f74804ce47e288681.png);
background-size: 80%;
background-repeat: no-repeat;
background-position: 50% 200%;
}

.logbuttonin{
padding: 15px;
width: 45%;
}

.buttonlogin{
padding: 15px;
width: 15%;
}

.divregister{
flex-direction: column;
display: flex;
align-items: center;
}

.divlogin{
flex-direction: column;
display: flex;
align-items: center;
}

.buttongoogle {
width: 80%;
padding: 15px;
}



}


@media only screen and (min-width: 768px){

.signup {
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
padding: 30px;
gap: 10px 30px;
}

.logo{
width: 30%;
}

.buttonregister{
padding: 10px;
width: 80%;
}

.email {
padding: 15px;
width: 180%;
}
        
.password {
padding: 15px;
width: 180%;
}

.emaillogin {
padding: 15px;
width: 180%;
}
    
.passwordlogin {
padding: 15px;
width: 180%;
}

.buttonlogin{
padding: 15px;
width: 100%;
}

.logbuttonin{
padding: 15px;
width: 30%;
}

body{
background-image: url(https://64.media.tumblr.com/e4039ebf1c9ee5f8380645ce3e3a6c7c/93408afe6e9d0c2e-5a/s540x810/dd92bed40b6ca0afaa374f1f74804ce47e288681.png);
background-size: 60%;
background-repeat: no-repeat;
background-position: 50% -900%;
}


}


@media only screen and (min-width: 1024px) {
  
.logo{
width:40%;
}

.signup{
display:inline-flex;
width: 40%;
padding: 30px;
gap: 30px;
}

.login{
display:inline-flex;
width: 40%;
padding: 30px;
gap: 30px;
}

.email{
padding:15px;
width: 300%;
margin-right: 80%;
}

.password{
padding:15px;
width: 300%;
margin-right: 80%;
}

.buttonregister{
padding: 8px;
width: 270%;
margin-right: 80%;
}

.emaillogin {
padding: 15px;
width: 300%;
margin-right: 80%;
}
        
.passwordlogin {
padding: 15px;
width: 300%;
margin-right: 80%;
}

.buttonlogin{
padding: 8px;
width: 270%;
margin-right: 80%;
}

.logbuttonin{
font-size: 20px;
padding: 8px;
width: 20%;
}
    
body{
background-image: url(https://64.media.tumblr.com/e4039ebf1c9ee5f8380645ce3e3a6c7c/93408afe6e9d0c2e-5a/s540x810/dd92bed40b6ca0afaa374f1f74804ce47e288681.png);
background-size: 40%;
background-repeat: no-repeat;
background-position: 100% 70%;
}

.entrybutton {
padding: 20px;
width: 30%;
height: 15%;
margin-top: 40px;
border-radius: 40px;
box-shadow: inset 0 0 0 0 #e25623;
transition: .3s ease all;
font-size: 25px;
}
    
.entrybutton:hover{ 
box-shadow: inset 600px 0 0 0 #e25623;
cursor: pointer;
color: #FEFEE3;
}

.welcoming {
font-size: 30px;
text-align: center;
margin-left: 2%;
margin-right: 40%;
}



}

@media only screen and (min-width: 2240px) {

.logo{
width:50%;
}    

body{
background-image: url(https://64.media.tumblr.com/e4039ebf1c9ee5f8380645ce3e3a6c7c/93408afe6e9d0c2e-5a/s540x810/dd92bed40b6ca0afaa374f1f74804ce47e288681.png);
background-size: 35%;
background-repeat: no-repeat;
background-position: 100% 100%;
}

.entrybutton{
padding: 20px;
width: 20%;
height: 15%;
margin-right: 30%;

}

.welcoming {
font-size: 30px;
text-align: center;
margin-left: 10%;
margin-right: 40%;
margin-top: 2%
}

}

.buttonlogin{
width: 30%;
height: 15%;
align-items: center;
}

.userName {
    border-radius: 30px;
    padding: 15px;
    width: 90%;
    height: 15%;
}

